<div ng-app="myApp.pictureUpload" ng-controller="pictureCtrl" class="fromDesign">
	<form class="pure-form pure-form-aligned fromDesign">
		<div class="pure-control-group">
			<label for="messagename">Name</label>
	   		<input id="messagename" type="text" placeholder="Name" ng-model="emptyMessage.stringMap.name">
		</div>
		<div class="pure-control-group">
			<label for="messagedesc">Description</label>
	   		<input id="messagedesc" type="text" placeholder="Description" ng-model="emptyMessage.stringMap.description">
		</div>
		<div class="pure-controls">
			<button class="pure-button pure-button-primary" type="submit" ng-click="stage()">Stage new Message</button>
		</div>
	</form>
	
	<form name="form" class="pure-form pure-form-aligned fromDesign">
		<fieldset>
		<div class="pure-control-group">
			<label for="messageid">ID of message</label>
	       		<input id="messageid" type="text" placeholder="ID" ng-model="myUpload.id">
		</div>
		<div class="pure-control-group">
			<label for="picturekey">Key for picture</label>
	       		<input id="picturekey" type="text" placeholder="Key" ng-model="myUpload.key">
		</div>
		<div class="pure-controls">
		<div class="pure-button" ngf-select ng-model="file" name="file" ngf-pattern="'*'"
			ngf-accept="'*'" ngf-max-size="20MB" ngf-min-height="100" 
			ngf-resize="{width: 100, height: 100}">Select Picture for Upload</div>
		
		<button class="pure-button pure-button-primary" type="submit" ng-click="submit()">submit</button>
		</div>
		</fieldset>
		<button class="pure-button pure-button-primary" type="button" ng-click="publish()">Publish Message to Network</button>
	</form>
</div>